 body {
  font-family: 'Karma', serif;
   background-color: #948065;
   margin: 60px;
   border-style: solid;
   border-width: thin;
   border-color: black;
   padding: 30px;
   min-height: 500px
 }

 header {
   display: flex;
   justify-content: space-around;
   align-content: center;
 }

h1, h2, h3, form {
font-family: 'Shadows Into Light', cursive;
 }
